[v-cloak] {
    display: none;
}
.highlight {
    border: solid 3px red;
    color: red;
}
.shooting-star-leave-to, .shooting-star-enter {
    transform: translateX(150px) rotate(30deg);
    opacity: 0;
}
.shooting-star-enter-active, .shooting-star-leave-active {
    transition: all .5s ease;
}
.neo-list-leave-to, .neo-list-enter {
    opacity: 0;
    transform: translateY(30px);
}
.neo-list-enter-active, .neo-list-leave-active {
    transition: all 1s linear;
}